<!-- Add a new client section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="client-id" class="control-label">Id:</label>
                <input id="client-id" class="form-control" type="text" placeholder="DID extension" name="client_id">
            </div>
            <div class="form-group">
                <label for="client-name" class="control-label">Name:</label>
                <input id="client-name" class="form-control" type="text" placeholder="Client Name" name="client_name">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="client-service" class="control-label">Full Service:</label>
                <input id="client-service" class="form-control" type="checkbox" name="full_service">
            </div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default" type="submit">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default" type="reset">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>