{% extends 'base.html' %}

{% block extracss %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('user.static', filename='settings.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <h1>Edit Profile</h1>
        <div class="container-fluid text-centered padded">
            <form class="form-group" role="form" method="POST"
                  target="{{ url_for('user.settings') }}" enctype=multipart/form-data>

                <section>
                    <h3>User Info</h3>
                    <code>
                        {% include 'account_settings.html' %}
                    </code>
                </section>

                <aside>
                    <h3>Avatar</h3>
                    <code>
                        {% include 'avatar_area.html' %}
                    </code>
                </aside>

                <footer>
                    <code>
                        <button class="btn btn-secondary" type="submit" id="user-form">Save</button>
                        <button class="btn btn-secondary" type="reset" id="user-form">Cancel</button>
                    </code>
                </footer>
            </form>
        </div>   <!-- User form container-fluid -->
        <div class="container-fluid text-centered padded">
            <section>
                <h3>Merchandise</h3>
                <code>
                    {% include 'user_links.html' %}
                </code>
            </section>
            <aside>
                <h3>Links</h3>
                <code>
                    {% include 'user_links.html' %}
                </code>
            </aside>
        </div>  <!-- Links container-fluid -->
    </div>  <!-- Page container-fluid -->
{% endblock %}