<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header navbar-link">
    <a class="navbar-brand" href="{{ url_for('index') }}">
                <img alt="Falcon Gallery" src="{{ url_for('static', filename='img/brand.ico') }}" width="auto" height="100%">
            </a>
    <div class="navbar-text">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#base-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>