<!-- Public contact information  -->
<div class="navbar-link navbar-text dropdown">
    <a href="#">Artist</a>

    <button type="button" id="publicButtons" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Artist Page</span>
    </button>

    <div class="dropdown-menu" aria-labelledby="publicButtons">
        <!-- Dropdown menu links -->
        <a class="dropdown-item btn" href="#">Merchandise</a>
        <a class="dropdown-item btn" href="#">Instagram</a>
{#        <a class="dropdown-item btn" href="#">Twitter</a>#}
    </div>
</div>