<!-- Public contact information  -->
<div class="navbar-link navbar-text dropdown">
    <a href="{{ url_for('report.index') }}">Reports</a>

    <button type="button" id="publicButtons" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Artist Page</span>
    </button>

    <ul class="dropdown-menu" aria-labelledby="publicButtons" role="menu">
        <!-- Dropdown menu links -->
        <li><a class="dropdown-item btn" href="#">My Report</a></li>
        <li><a class="dropdown-item btn" href="#">My Report</a></li>
        <li class="divider"></li>
        <li><a class="dropdown-item btn" href="#">Basic Report</a></li>
    </ul>
</div>