body {
    background: white;
}

code {
  background: black;
  border-radius: 6px;
  color: white;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
header  {
  margin: 0 1.5% 24px 1.5%;
}
section {
  float: left;
  width: 50%;
}
aside {
  float: right;
  width: 50%;
}
footer {
  clear: both;
  margin-bottom: 0;
}

input[type="file"]{
        height:50px;
}

input[type="file"]::-webkit-file-upload-button{
    height:50px;
}

.form-group {
    width: 100%;
    clear: both;
}