<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
        <title>{{ title }} - mW Reporting</title>
    {% else %}
        <title>mW Reporting</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block head_description %}{% endblock %}">
    <meta name="author" content="{% block head_author %}{% endblock %}">

    <link rel="shortcut icon"
        href="{{ url_for('static', filename='img/favicon.ico') }}">

    <!-- Styles
    ================================================== -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">

    <!-- Allows page specific CSS -->
    {% block extracss %}{% endblock %}
</head>

<body>

    <!-- Navigation bar for all base pages -->
    {% include 'navigation/navigation.html' %}

    <!-- Page specific content -->
    {% block content %}{% endblock %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- Configure moment -->
    {{ moment.include_jquery(version='3.2.1') }}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- jQuery library for DatePicker -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    {{ moment.include_moment() }}

    {% block extrajs %}{% endblock %}

</body>


<footer class="navbar transparent navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <!-- Page specific footer -->
        {% block footer %}{% endblock %}

        <!-- Alerts should popup from the bottom -->
        {% include 'message.html' %}
    </div>
</footer>

</html>