<!-- Index to blueprint index pages -->
{% extends 'base.html' %}

{% block extracss %}
    {{ super() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid padded">
        <h2 class="padded">mW Reporting</h2>
        {% for blueprint in blueprints %}
            <div class="row">
                <div class="col-md-4">
                    <label for="{{ blueprint|e }}">
                        <a href="{{ url_for('{bp}.index'.format(bp=blueprint)) }}">{{ blueprint }}</a>
                    </label>
                    <small id="{{ blueprint|e }}" class="form-text text-muted">Some info</small>
                </div>
                <div class="col-md-4">
                    <p>Client Info?</p>
                </div>
                <div class="col-md-4">
                    <p>User info?</p>
                </div>
            </div>
        {% endfor %}
    </div>  <!-- /.container-fluid -->
{% endblock %}
